#Backend .env -> should be in "backend" directory in .env file 
NAME_OF_EVENT="birthday" -> example of event - should be without spaces
DATA_PATH="/mnt/" -> place where 

#Frontend .env -> should be in "frontend" directory in .env file 
VITE_ZIP_NAME=wedding -> name of zip file when someone will download photos
VITE_EVENT_NAME=" My Birthday" -> Name of event - will be added as title on page. 